<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

<application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.LoveGames"
    tools:targetApi="34">

    <!--
        AdMob application ID. The value below is Google's official test
        application ID, safe to use during development. Replace with your
        real AdMob app ID before publishing to the Play Store. The
        InterstitialAdManager's ad unit ID also defaults to a test unit
        and must be swapped at the same time.
    -->
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-3940256099942544~3347511713" />

    <activity
        android:name=".MainActivity"
        android:screenOrientation="portrait"
        android:exported="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.LoveGames">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>

</manifest>